<section fxLayout="row wrap" fxLayoutAlign="center center">

  <mat-card fxFlex="700px" fxFlex.xs="100%">
        <mat-card-title>Action Ref°:{{action?.refAction}} </mat-card-title>

        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Status:</strong></div>
              <div fxFlex>{{action?.status}}</div>
            </div>

            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Response Date</strong></div>
              <div fxFlex>{{action?.dateResponse}}</div>
            </div>


            <div fxLayout="row wrap" fxFlex >
                <div fxFlex><strong>Action:</strong></div>
                <div fxFlex >{{action?.description}}</div>
              </div>

            <div fxLayout="row wrap" fxFlex >
              <div fxFlex><strong>Responsable:</strong></div>
              <div fxFlex >{{action?.responsableAction?.firstname}} {{action?.responsableAction?.lastname}}</div>
            </div>

            <div fxLayout="row wrap" fxFlex >
                <div fxFlex><strong>Description:</strong></div>
                <div fxFlex >{{action?.responseDescription}}</div>
              </div>
            <ng-template #advancedUser>
              <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Type of user:</strong></div>
                <div fxFlex class="advanced-color">Advanced user</div>
              </div>
            </ng-template>
          </div>

        </mat-card-content>
        <mat-card-actions>
         <mat-select placeholder="Show accounts" (selectionChange)="onChange($event)">
                <mat-option value="Validé">
                    Validé
                </mat-option>
                <mat-option value="Non Validé">
                    Non Validé
                  </mat-option>
              </mat-select>

        </mat-card-actions>
      </mat-card>

</section>
