
  <section  fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="1000px" fxFlex.xs="100%">
      <mat-card-title>   <h1>Problem Description
        <button mat-icon-button color="primary" (click)="redirectToDescriptionDialog(description._id)">
          <!--  -->
          <mat-icon class="mat-18">border_color</mat-icon>
          Create
        </button></h1>
      </mat-card-title>
<div >
     <p *ngIf="description?._id">{{description.description}}</p>
</div>



</mat-card></section>














