<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [routerLink]="['/actions']" [count]=countAction [label]="'Action pending assignment !'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'view_list'" [routerLink]="['/actionplan']"  [count]="countActionPlan" [label]="'Acion Plan'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'memory'" [routerLink]="['/inboxcomplaint']"  [count]=countComplaint [label]="'Complaint Received'"></app-stat>
    </div>
</div>






<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Fault Quanity By Type</mat-card-title>
          </mat-card-header>
          <mat-card-content>

  <div fxFlex>
    <div id="chartdiv" style="width: 100%; height: 250px"></div>
  </div>
          </mat-card-content>
      </mat-card>
  </div>
  <div fxFlex>
      <mat-card>
          <mat-card-header>
              <mat-card-title>PPM (Parts Per Million) </mat-card-title>

          </mat-card-header>
          <mat-card-content>
            <div id="chartdivPPM" style="width: 100%; height: 250px"></div>

          </mat-card-content>
          <p>(Inspected defective units /units supplied) * 1.000.000</p>
      </mat-card>
  </div>
</div><!--
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Radar Chart</mat-card-title>
          </mat-card-header>
          <mat-card-content>


<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <div id="chartdiv" style="width: 100%; height: 250px"></div>
  </div>
</div>
          </mat-card-content>
      </mat-card>
  </div>
  <div fxFlex>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Pie Chart</mat-card-title>
          </mat-card-header>
          <mat-card-content>

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <div id="chartdiv" style="width: 100%; height: 250px"></div>
  </div>
</div>
          </mat-card-content>
      </mat-card>
  </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Polar Area Chart</mat-card-title>
          </mat-card-header>
          <mat-card-content>

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <div id="chartdiv" style="width: 100%; height: 250px"></div>
  </div>
</div>

          </mat-card-content>
      </mat-card>
  </div>
  <div fxFlex>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Line Chart</mat-card-title>
          </mat-card-header>
          <mat-card-content>

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <div id="chartdiv" style="width: 100%; height: 250px"></div>
  </div>
</div>
          </mat-card-content>
      </mat-card>
  </div>
</div>


 -->
