<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Update Affected Team Leader</mat-card-title>
      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutGap="40px">
          <div fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Team Leader Name name:</strong></div>
            <div fxFlex>Team Leader Name name:</div>
          </div>

          <div fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Date of birth:</strong></div>
            <div fxFlex>Team Leader Name name:</div>
          </div>

          <div fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Type of user:</strong></div>
            <div fxFlex class="beginner-color">Beginner user.</div>
          </div>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-card-actions align="center">
          <button mat-raised-button color="warn" >Send</button>

        </mat-card-actions>
      </mat-card-actions>
    </mat-card>
</section>
