
  <div class="basic-container">
    <section fxLayout="row wrap" fxLayoutAlign="left left">
      <mat-card fxFlex="1000px" fxFlex.xs="100%">
        <mat-card-title>Create a new Product of Export</mat-card-title>
        <form #ExportForm="ngForm" [formGroup]="checkExportForm"  (ngSubmit)="createExport(ExportForm)" autocomplete="off" novalidate  fxLayout="column wrap"
          fxLayoutAlign="left left" fxLayoutGap="10px">
          <mat-card-content>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="left" >

            <mat-form-field class="form-group" fxFlex="15%" >
              <div class="form-group">
                  <mat-select  required formControlName="produitId" placeholder="Produit"  [(ngModel)]="selectedExport.produit._id">
                    <mat-option value="">Select Product...</mat-option>
                    <mat-option *ngFor="let prod of listProduit" [value]="prod._id">
                        {{prod.RefProduit}}
                      </mat-option>
                     </mat-select>
                </div>
                <mat-error *ngIf="checkExportForm.get('produitId').errors?.required">
                  Prodcut is required.
                </mat-error>
            <mat-hint align="end">Product WISI N°  </mat-hint>

          </mat-form-field>


   <mat-form-field class="form-group" fxFlex="15%" >
              <div class="form-group">
                  <select matNativeControl required formControlName="companyId" placeholder="Company" [(ngModel)]="selectedExport.company._id">
                    <option value="">Select Company...</option>
                    <option *ngFor="let company of listcompany"  [value]="company._id">
                        {{company.companyName}}
                      </option>
                     </select>
                </div>
                <mat-error *ngIf="checkExportForm.get('companyId').errors?.required">
                  Company is required.
                </mat-error>
            <mat-hint align="end">Company  </mat-hint>

          </mat-form-field>


          <mat-form-field class="form-group" fxFlex="10%" >

              <div class="form-group">
                  <input matInput type="number" placeholder="Quantity"  required  formControlName="quantity" id="quantity"  [(ngModel)]="selectedExport.quantity" >
              </div>
              <mat-error *ngIf="checkExportForm.get('quantity').errors?.required">
                  Quantity is required.
                </mat-error>

                <mat-hint align="end">Quantity of Export</mat-hint>


              </mat-form-field>




              <mat-form-field class="form-group" fxFlex="15%" >
                  <div class="form-group">
                  <input matInput type="date" required  placeholder="Choose a date" placeholder="Choose a date of reponse" formControlName="dateExport" [(ngModel)]="selectedExport.dateExport">

                </div>

                  <mat-error *ngIf="checkExportForm.get('dateExport').errors?.required">
                      Date is required.
                    </mat-error>
                                    <mat-hint align="end">Date of Export</mat-hint>

              </mat-form-field>




            </div>
          </mat-card-content>
          <mat-card-actions align="center">
            <button mat-raised-button color="primary" type="submit"  [disabled]="checkExportForm.invalid">Save</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </section>
    </div>


    <div class="basic-container">

      <section fxLayout="row wrap" fxLayoutAlign="left left">
        <mat-card fxFlex="1000px" fxFlex.xs="100%">

          <mat-card-content>


    <div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
      <mat-form-field>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>


     <!--  <div>
        <a  (click)="addContact()" mat-button color="primary">Create User</a>
      </div> -->
    </div>
    <!-- 'Name', 'Company', 'Company type' , 'Poste', 'Email', 'Phone','Role' -->
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
        <td mat-cell *matCellDef="let element"> {{element.produit.RefProduit}} </td>
      </ng-container>

      <ng-container matColumnDef="Company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let element"> {{element.company.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="Export of Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Export of Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateExport}} </td>
      </ng-container>



      <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="onEdit(element)">
                <mat-icon class="mat-18">system_update</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="onDelete(element._id,element)">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>

  </mat-card-content>


  </mat-card>
  </section>
  </div>
