<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
  <div fxFlex>
    <mat-card>
      <mat-card-header>
          <mat-card-title>Form Field</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field>
             <input matInput placeholder="Input">
          </mat-form-field>

          <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Select">
                  <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>
      </mat-card-content>
  </mat-card>


  </div>
  <div fxFlex>
     2
  </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>

      3
  </div>
  <div fxFlex>
     4
  </div>
</div>

<div fxFlex fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex>
     5
  </div>
</div>
