<div class="basic-container">

<section fxLayout="row wrap" fxLayoutAlign="left left">
  <mat-card fxFlex="1080px" fxFlex.xs="100%">
    <mat-card-title> {{ 'Create a new Complaint' | translate }}</mat-card-title>
    <form [formGroup]="complaintForm" autocomplete="off"  (ngSubmit)="createclamis(complaintForm.value)" fxLayout="column full"
      fxLayoutAlign="left left" fxLayoutGap="10px">
      <mat-card-content>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >
    <!-- refReclamation : req.body.refReclamation,
    typecompany:typecompany._id,
    produit:produit._id,
    quantity:req.body.quantity,
    description:req.body.description,
    daterep:req.body.daterep,
    datelimit:req.body.datelimit,
    defaut:defaut._id,
     company:company._id,
        creator:creator._id,
        destination:destination._id,
        destinationencopy:destinationencopy._id -->
                    <mat-form-field class="form-group" fxFlex="13%" >
                        <select matNativeControl required formControlName="typecompany" class="form-control" (change)="BindCompany($event.target.value)">
                            <option value="">Select Type...</option>
                            <option *ngFor="let compType of listCompanyType" [value]="compType._id">
                                {{compType.type_company}}
                              </option>
                        </select>
                      <mat-hint align="end">Company Type </mat-hint>

                    </mat-form-field>


                    <mat-form-field class="form-group" fxFlex="17%" >
                        <div class="form-group">
                            <select matNativeControl required formControlName="company" class="form-control" (change)="BindProduct($event.target.value)">
                              <option value="">Select Company...</option>
                              <option *ngFor="let comp of listCompany" [value]="comp._id">
                                  {{comp.companyName}}
                                </option>
                               </select>
                          </div>
                      <mat-hint align="end">Company  </mat-hint>

                    </mat-form-field>


                    <mat-form-field class="form-group" fxFlex="17%" >
                        <div class="form-group">
                            <select matNativeControl required formControlName="produit" class="form-control">
                              <option value="">Select Product...</option>
                              <option *ngFor="let produit of listProduit" [value]="produit.produit._id">
                                  {{produit.produit.RefProduit}}
                                </option>
                               </select>
                          </div>
                      <mat-hint align="end">Product WISI N°  </mat-hint>

                    </mat-form-field>

                    <mat-form-field class="example-full-width" fxFlex="10%">
                      <input matInput type="number" placeholder="Quantity Fault"   formControlName="quantity" id="defautquantity"  >
                      <mat-hint align="end">Complaint Fault</mat-hint>
                        </mat-form-field>



            </div>
       <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >


                    <mat-form-field class="form-group" fxFlex="25%" >
                        <div class="form-group">
                            <select matNativeControl required formControlName="defaut" class="form-control">
                              <option value="">Select Default...</option>
                              <option *ngFor="let defaut of listDefaut" [value]="defaut._id">
                                  {{defaut.codeDefaut}} - {{defaut.DesignationDefautFr}}
                                </option>
                               </select>
                          </div>
                      <mat-hint align="end">Complaint Fault  </mat-hint>

                    </mat-form-field>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >


              <mat-form-field class="example-full-width"  fxFlex="60%">

                    <textarea matInput placeholder="Leave a comment" rows="4"  placeholder="Complaint Description"   formControlName="description" id="descriptioncomplaint"></textarea>
                  <mat-hint align="end">Complaint Description</mat-hint>

                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >

                                  <mat-form-field class="form-group" fxFlex="15%" >
                                    <div class="form-group">
                                    <input matInput type="date" required  placeholder="Choose a date of reponse"  placeholder="Choose a date of " formControlName="daterep">

                                  </div>
                             <mat-hint align="end">Date of Response</mat-hint>

                                </mat-form-field>


                                <mat-form-field class="form-group" fxFlex="15%" >
                                  <div class="form-group">
                                  <input matInput type="date" required  placeholder="Choose a date of deadline"   formControlName="datelimit">

                                </div>
                           <mat-hint align="end">Date of DeadLine</mat-hint>

                              </mat-form-field>


            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >

            <label for="image">choose image</label>

            <input type="file" mat-raised-button color="warn" name="image" formControlName="image" id="image">
            <button mat-raised-button color="warn" type="button" mat-button (click)="upload()">upload image</button>
          </div>

<!--
                <input  type="file" placeholder="Select photo ..."   formControlName="photo" id="photo"  >
                <mat-hint align="end">Select photo</mat-hint>
                <button type="button" mat-button (click)="upload()">upload image</button>
 -->
<!--  <input type="file" name="image" formControlName="phoTO" id="photo">
 <button type="button" mat-button (click)="upload()">upload image</button>

 -->
<!--  <h1>Upload File</h1>
  <input type="file" (change)>
 -->

 <!-- <div>
  <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
  <input type="file" name="image" formControlName="destination" #filePicker  (change)="onImagePicked($event)">
 <button type="button" (click)="Upload()">Upload Image</button>
</div>

</div> -->


           <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left" >


            <mat-form-field  class="form-control" fxFlex="25%">
              <mat-label>Select Destination</mat-label>

            <mat-select required formControlName="destination"  ng-model='listUser'>
              <mat-option *ngFor="let user of listUser" [value]="user._id">  {{user.lastname}}   {{user.firstname}} </mat-option>
            </mat-select>
          </mat-form-field>


                  <!--   <mat-form-field  class="form-control" fxFlex="25%">
                        <mat-label>User en Copy</mat-label>

                      <mat-select required formControlName="destinationencopy" multiple ng-model='listUser'>
                        <mat-option *ngFor="let user of listUser" [value]="user._id">{{user.lastname}}  {{user.firstname}} </mat-option>
                      </mat-select>
                    </mat-form-field> -->

            </div>



      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary"  [disabled]="!complaintForm.valid" >Create</button>
        <button mat-raised-button color="warn" [disabled]="!complaintForm.valid">Send</button>

      </mat-card-actions>
    </form>
  </mat-card>
</section>
</div>
<!-- refReclamation: string;
typecompanyId: string;
produitId: string;
description: string;
daterep: string;
datelimit: string;
defautId: string;
companyId: string;
creatorId: string;
destinationId:string;
destinationencopy:string;
quantity:number; -->
