<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="1000px" fxFlex.xs="100%">
    <mat-card-title>   <h1>Preventive Actions</h1></mat-card-title>
    <form   #ActionsForm="ngForm" [formGroup]="FormPreventiveAction"  (ngSubmit)="createPreventiveActions(FormPreventiveAction.value)" autocomplete="off" novalidate  fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" >


          <mat-form-field class="example-full-width" fxFlex="3%">
            <input matInput type="number" placeholder="Position Action"   formControlName="position" id="position" [(ngModel)]="selectedAction.position"  >
            <mat-hint align="end">Position Action</mat-hint>
              </mat-form-field>

                    <mat-form-field class="example-full-width" fxFlex="15%" >
                      <input matInput type="date" required  placeholder="Choose a date of reponse"  [(ngModel)]="selectedAction.dateResponse" placeholder="Choose a date of " formControlName="dateResponse">
                      <mat-hint align="end">Date Of Response</mat-hint>


                  </mat-form-field>


<mat-form-field  class="form-control" fxFlex="15%">
<mat-label>Select Responsable Action </mat-label>
<mat-select required formControlName="responsableAction" [(ngModel)]="selectedAction.responsableAction._id" ng-model='listUser'>
  <mat-option *ngFor="let user of listUser" [value]="user.responsableAction._id">  {{user.responsableAction.lastname}}   {{user.responsableAction.firstname}} </mat-option>
</mat-select>
</mat-form-field>


<mat-form-field  class="form-control" fxFlex="15%">
  <mat-label>Document de standarisation </mat-label>
  <mat-select required formControlName="Document" [(ngModel)]="selectedAction.Document._id" ng-model='listDocument'>
    <mat-option *ngFor="let document of listDocument" [value]="document._id"> {{document.RefDocument}}</mat-option>
  </mat-select>
  </mat-form-field>



<button mat-raised-button color="primary" type="submit"  [disabled]="FormPreventiveAction.invalid">Save Action</button>
</div>
</mat-card-content>
<mat-card-actions align="center">
</mat-card-actions>
</form>




<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>


  <!--  <div>
    <a  (click)="addContact()" mat-button color="primary">Create User</a>
  </div> -->
  </div>
  <!-- 'Name', 'Company', 'Company type' , 'Poste', 'Email', 'Phone','Role' -->
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

  <table mat-table [dataSource]="dataSource" matSort>
  <!--   public displayedColumns = ['Pos','Rsponsable Action','Action','created At', 'Response At','',Status'update', 'delete'];
  firstname: string;
    lastname: string;
  -->


  <ng-container matColumnDef="Ref Action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref Action </th>
    <td mat-cell *matCellDef="let element"> {{element.refAction}} </td>
  </ng-container>

  <ng-container matColumnDef="Pos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pos </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>


  <ng-container matColumnDef="Rsponsable Action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rsponsable Action </th>
    <td mat-cell *matCellDef="let element">{{element.responsableAction.lastname}} {{element.responsableAction.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>


  <ng-container matColumnDef="Document">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
    <td mat-cell *matCellDef="let element"> {{element.Document.RefDocument}}</td>
  </ng-container>

  <ng-container matColumnDef="Response At">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Response At </th>
    <td mat-cell *matCellDef="let element"> {{element.dateResponse | date}} </td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
    <td  [ngClass]="{
      'NonAttribué' : element.status ==	'Non Attribué',
      'DemandeValidation' : element.status ==	'Demande Validation',
      'Validé': element.status ==	'Validé',
      'Encours': element.status ==	'En cours'
   }" mat-cell *matCellDef="let element"> {{element.status }}  </td>
  </ng-container>

  <ng-container matColumnDef="Details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="redirectToDetailsAction(element._id)">
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>



  <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="onEdit(element)">
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="onDelete(element._id)">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
  </mat-paginator>





  </mat-card></section>














