mat-form-field{
  width: 400px;
}

mat-card-title{
  text-align: center;
}

.card {
  width: 100%;
}
.basic-container {
  padding: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}





@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.th.mat-header-cell {
  text-align: left;
  max-width: 300px!important;
}





.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: Lato;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 10px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 10px;
}
mat-form-field{
  width: 400px;
}

mat-card-title{
  text-align: center;
}

.card {
  width: 100%;
}
.basic-container {
  padding: 10px;
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.th.mat-header-cell {
  text-align: left;
  max-width: 300px!important;
}





.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: Lato;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 10px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 10px;
}
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px!important;
}

mat-form-field{
  width: 400px;
}

mat-card-title{
  text-align: center;
}

.card {
  width: 100%;
}
.basic-container {
  padding: 10px;
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.th.mat-header-cell {
  text-align: left;
  max-width: 300px!important;
}





.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: Lato;
}
.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

input[type="file"] {
  visibility: hidden;
}


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 10px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 10px;
}
